<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookcase</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
          <ul class="nav">
            <li><a href="/books" >Home</a></li>
            <li><a href="/contactme">Contact Me</a></li>
            <li><a href="/about" >About</a></li>
          </ul>  
        </div>
      </div>
      <div class="about">
        <p>"Words and code are my two favorite languages. <br> As a passionate reader, I explore new ideas and perspectives, and as a <br> full-stack developer, I turn those ideas into reality through technology. <br> Innovation, creativity, and problem-solving drive me every day."</p> 
      </div>

</body>
</html>