<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="books">
    <h1 style="margin-top: 25px;">Chandana Shetty</h1>
    <div class="book">
        <img src="https://covers.openlibrary.org/b/isbn/9788172234980-M.jpg" alt="" height="150px">
        <h3 style="text-align: start;">THE ALCHEMIST-BY PANLO COELHO</h3>
        <div class="small">
        <small>Date of read: 13-04-2024</small> 
        <br>
        <small>My ratings: <strong>9/10</strong></small>
        <br>
        <small>ISBN : 9788172234980</small>  
    </div>
    </div>
    <p style="font-size: large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">It is also available in <a href="https://www.meesho.com/the-alchemist-by-panlo-coelho/p/2n5iu2">Meesho</a> </p> 
    <br>
    <h3 id="notes">My Notes</h3>
    <div class="shortNotes">
    <br>
    Santiago stops at an abandoned church with a sycamore tree growing inside and spends the night there, dreaming about a treasure.
    <br>
    <br>
    He visits a Gypsy fortune teller, who tells him that his dream is prophetic and that he must travel to Egypt to find his treasure.
    <br>
    <br>
    Santiago meets an old man named Melchizedek, who calls himself the "King of Salem."He shares a famous idea:
    “When you want something, all the universe conspires in helping you to achieve it.”
    <br>
    <br>
    Melchizedek gives Santiago two mystical stones, Urim and Thummim, to help him make decisions on his journey.
    <br>
    <br>
    Inspired by Melchizedek’s words, Santiago sells his sheep to pursue his dream.
    <br>
    <br>
    Santiago finds work at a crystal merchant’s shop to earn money for his journey.
    <br>
    <br>
    He joins a caravan crossing the Sahara Desert, where he meets an Englishman who is studying alchemy.
    <br>
    <br>
    The Englishman introduces Santiago to the Philosopher’s Stone and the Elixir of Life, important symbols of transformation.
    <br>
    <br>
    Santiago meets Fatima, a beautiful desert woman, and immediately falls in love with her.She encourages him to continue pursuing his Personal Legend, telling him that true love never holds a person back.
    <br>
    <br>
    Santiago then meets the Alchemist, a powerful figure who recognizes that Santiago is on the right path and he agrees to guide him to the pyramids, but warns that the journey will test him
    <br>
    <br>
    When Santiago finally reaches the Egyptian Pyramids, he digs for the treasure but finds nothing.One of the thief beats him and steal his money.
    One of the thieves mocks him, saying he once had a dream about treasure buried under a sycamore tree in an abandoned church in Spain—but he never pursued it.
    <br>
    <br>
    He returns home and digs beneath the sycamore tree where he first had his dream—and finds a chest full of gold and jewels.
    <br>
    <br>
    As he celebrates, a strong wind blows, carrying a whisper of Fatima’s voice, reminding him that she is waiting.
    <br>
    <br>
    
</div>
</body>
</html>