<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="books">
    <h1 style="margin-top: 25px;">Chandana Shetty</h1>
    <div class="book">
        <img src="https://covers.openlibrary.org/b/isbn/9781493724284-M.jpg" alt="" height="160px">
        <h3 style="text-align: start;">BLACK BEAUTY - BY ANNA SEWELL </h3>
        <div class="small">
        <small>Date of read:  27-01-2025</small> 
        <br>
        <small>My ratings: <strong>10/10</strong></small>
        <br>
        <small>ISBN :9781493724284 </small>  
    </div>
    </div>
    <p style="font-size: large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">It is also available in <a href="https://books.google.co.in/books/about/Black_Beauty.html?id=QzFMEAAAQBAJ&printsec=frontcover&source=kp_read_button&hl=en&newbks=1&newbks_redir=0&gboemv=1&ovdme=1&redir_esc=y#v=onepage&q&f=false">Google books</a> </p> 
    <br>
    <h3 id="notes">My Notes</h3>
    <div class="shortNotes">
        <br>
        Black Beauty is born and raised in a caring environment by his first owner, where he learns kindness and good treatment.🐴✨
<br>
<br>
His mother teaches him important values like patience, gentleness, and respect for humans.
<br>
<br>
He is initially owned by Squire Gordon, a kind and responsible man who treats horses well.
<br>
<br>
After Squire Gordon's departure, Black Beauty is sold multiple times, facing different experiences.
<br>
<br>
He meets other horses, including Ginger, who has suffered abuse, and Merrylegs, a cheerful pony.
<br>
<br>
Some owners mistreat Black Beauty, using painful bits, tight reins, and overworking him.
<br>
<br>
He works as a London cab horse, enduring long hours, rough streets, and exhaustion.
<br>
<br>
Black Beauty endures hardships but remains gentle and strong.It teaches that kindness, patience, and ethical treatment of animals can make the world a better place.🐎
<br>
<br>
</div>
</body>
</html>