<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookcase</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="container">
          <div class="header">
            <ul class="nav">
              <li><a href="/" >Home</a></li>
              <li><a href="/contactme">Contact Me</a></li>
              <li><a href="/about" >About</a></li>
            </ul>  
          </div>
        </div>
      <h1 id="contact">CONTACT ME</h1>
    <div class="form">
    <form action="/submit" method="post">
      <p>Name :<input type="text" name="Name" id=" name"></p>
  
      <p>Email :<input type="email" name="Email" id="email"></p>
      
      <p >Address :<input type="text" name="Address" id="address"></p>
      
      <p>Contact No :<input type="number" name="ContactNo" id="contactNo"></p>
      <p>Queries : <input type="text" name="Queries" id="queries"></p>
      <input type="submit" name="submit" id="submit">
    </form>
  </div>
</body>
</html>