<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="books">
    <h1 style="margin-top: 25px;">Chandana Shetty</h1>
    <div class="book">
        <img src="https://covers.openlibrary.org/b/isbn/9781786330895-M.jpg" alt="" height="160px">
        <h3 style="text-align: start;">IKIGAI-THE JAPANESE SECRET TO A LONG AND HAPPY LIFE -BY HECTOR GARCIA AND FRANCESC MIRALLES</h3>
        <div class="small">
        <small>Date of read: 20-10-2024</small> 
        <br>
        <small>My ratings: <strong>8/10</strong></small>
        <br>
        <small>ISBN :9781786330895 </small>  
    </div>
    </div>
    <p style="font-size: large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">It is also available in <a href="https://www.meesho.com/ikigai-the-japanese-secret-to-a-long-and-happy-life-by-hector-garcia-francesc-miralles-paperback-english/p/5hlzix">Meesho</a> </p> 
    <br>
    <h3 id="notes">My Notes</h3>
    <div class="shortNotes">
        <br>
        The Four Elements of Ikigai:
 What you love (Passion) ❤️
What you are good at (Vocation) 🎯
What the world needs (Mission) 🌍
What you can be paid for (Profession) 
<br>
<br>
The authors travel to Okinawa and study the lifestyle of its long-living residents.
<br>
<br>
The authors suggest that finding joy in daily activities and avoiding distractions leads to happiness.
<br>
<br>
The authors emphasize that Okinawans rarely retire—they stay active and continue doing what they love for as long as possible.
<br>
<br>
Flow is described as a state of deep concentration and enjoyment while engaging in an activity.People who experience flow are generally happier, more productive, and less stressed.
<br>
<br>
Okinawans follow the Hara Hachi Bu principle—eating until 80% full instead of overeating
<br>
<br>
Ikigai is not about working hard for wealth but about doing what brings fulfillment every day.
<br>
<br>
The book shares stories of happy, long-living people who wake up excited for each day—whether it’s practicing an art, caring for a garden, or spending time with loved ones.

</div>
</body>
</html>